[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
deep-translator = "*"
timezonefinder = "*"
geopy = "*"
pandas = "*"
datetime = "*"
pytz = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.11"
